/* changa-regular - arabic_latin_latin-ext */
@font-face {
  font-display: swap;
  font-family: 'Changa';
  font-style: normal;
  font-weight: 400;
  src: url('../public/fonts/changa/changa-v27-arabic_latin_latin-ext-500.woff2') format('woff2');
}

/* changa-500 - arabic_latin_latin-ext */
@font-face {
  font-display: swap;
  font-family: 'Changa';
  font-style: normal;
  font-weight: 500;
  src: url('../public/fonts/changa/changa-v27-arabic_latin_latin-ext-500.woff2') format('woff2');
}

/* changa-700 - arabic_latin_latin-ext */
@font-face {
  font-display: swap;
  font-family: 'Changa';
  font-style: normal;
  font-weight: 700;
  src: url('../public/fonts/changa/changa-v27-arabic_latin_latin-ext-700.woff2') format('woff2');
}

/* cormorant-infant-regular - cyrillic_cyrillic-ext_latin_latin-ext_vietnamese */
@font-face {
  font-display: swap;
  font-family: 'Cormorant Infant';
  font-style: normal;
  font-weight: 400;
  src: url('../public/fonts/cormorantInfant/cormorant-infant-v17-cyrillic_cyrillic-ext_latin_latin-ext_vietnamese-regular.woff2') format('woff2');
}

/* cormorant-infant-600 - cyrillic_cyrillic-ext_latin_latin-ext_vietnamese */
@font-face {
  font-display: swap;
  font-family: 'Cormorant Infant';
  font-style: normal;
  font-weight: 600;
  src: url('../public/fonts/cormorantInfant/cormorant-infant-v17-cyrillic_cyrillic-ext_latin_latin-ext_vietnamese-600.woff2') format('woff2');
}

/* cormorant-infant-700 - cyrillic_cyrillic-ext_latin_latin-ext_vietnamese */
@font-face {
  font-display: swap;
  font-family: 'Cormorant Infant';
  font-style: normal;
  font-weight: 700;
  src: url('../public/fonts/cormorantInfant/cormorant-infant-v17-cyrillic_cyrillic-ext_latin_latin-ext_vietnamese-700.woff2') format('woff2');
}

/* libre-baskerville-regular - latin_latin-ext */
@font-face {
  font-display: swap;
  font-family: 'Libre Baskerville';
  font-style: normal;
  font-weight: 400;
  src: url('../public/fonts/libreBaskerville/libre-baskerville-v14-latin_latin-ext-regular.woff2') format('woff2');
}

/* libre-baskerville-700 - latin_latin-ext */
@font-face {
  font-display: swap;
  font-family: 'Libre Baskerville';
  font-style: normal;
  font-weight: 700;
  src: url('../public/fonts/libreBaskerville/libre-baskerville-v14-latin_latin-ext-700.woff2') format('woff2');
}

/* luckiest-guy-regular - latin_latin-ext */
@font-face {
  font-display: swap;
  font-family: 'Luckiest Guy';
  font-style: normal;
  font-weight: 400;
  src: url('../public/fonts/luckiestGuy/luckiest-guy-v23-latin_latin-ext-regular.woff2') format('woff2');
}

/* pt-serif-regular - cyrillic_cyrillic-ext_latin_latin-ext */
@font-face {
  font-display: swap;
  font-family: 'PT Serif';
  font-style: normal;
  font-weight: 400;
  src: url('../public/fonts/ptSerif/pt-serif-v18-cyrillic_cyrillic-ext_latin_latin-ext-regular.woff2') format('woff2');
}

/* pt-serif-700 - cyrillic_cyrillic-ext_latin_latin-ext */
@font-face {
  font-display: swap;
  font-family: 'PT Serif';
  font-style: normal;
  font-weight: 700;
  src: url('../public/fonts/ptSerif/pt-serif-v18-cyrillic_cyrillic-ext_latin_latin-ext-700.woff2') format('woff2');
}

/* roboto-100 - cyrillic_cyrillic-ext_greek_greek-ext_latin_latin-ext_vietnamese */
@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: url('../public/fonts/roboto/roboto-v32-cyrillic_cyrillic-ext_greek_greek-ext_latin_latin-ext_vietnamese-100.woff2') format('woff2');
}

/* roboto-300 - cyrillic_cyrillic-ext_greek_greek-ext_latin_latin-ext_vietnamese */
@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url('../public/fonts/roboto/roboto-v32-cyrillic_cyrillic-ext_greek_greek-ext_latin_latin-ext_vietnamese-300.woff2') format('woff2');
}
/* roboto-regular - cyrillic_cyrillic-ext_greek_greek-ext_latin_latin-ext_vietnamese */
@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../public/fonts/roboto/roboto-v32-cyrillic_cyrillic-ext_greek_greek-ext_latin_latin-ext_vietnamese-regular.woff2') format('woff2');
}
/* roboto-500 - cyrillic_cyrillic-ext_greek_greek-ext_latin_latin-ext_vietnamese */
@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url('../public/fonts/roboto/roboto-v32-cyrillic_cyrillic-ext_greek_greek-ext_latin_latin-ext_vietnamese-500.woff2') format('woff2');
}
/* roboto-700 - cyrillic_cyrillic-ext_greek_greek-ext_latin_latin-ext_vietnamese */
@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('../public/fonts/roboto/roboto-v32-cyrillic_cyrillic-ext_greek_greek-ext_latin_latin-ext_vietnamese-700.woff2') format('woff2');
}
/* roboto-900 - cyrillic_cyrillic-ext_greek_greek-ext_latin_latin-ext_vietnamese */
@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: url('../public/fonts/roboto/roboto-v32-cyrillic_cyrillic-ext_greek_greek-ext_latin_latin-ext_vietnamese-900.woff2') format('woff2');
}

.text-label-lg {
  font-family: Changa;
  font-size: 32px;
  font-weight: 700;
  line-height: 34px;
  text-align: left;
}

.text-label-md {
  font-family: Changa;
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
}

.text-lg {
  font-family: Changa;
  font-size: 22px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.015em;
  text-align: left;
}

.text-md {
  font-family: Changa;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
}
