.text-label-lg {
  font-family: Changa;
  font-size: 32px;
  font-weight: 700;
  line-height: 34px;
  text-align: left;
}

.text-label-md {
  font-family: Changa;
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
}

.text-lg {
  font-family: Changa;
  font-size: 22px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.015em;
  text-align: left;
}

.text-md {
  font-family: Changa;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
}
