{
  "root": true,
  "env": {
    "es2021": true
  },
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "extends": ["eslint:recommended", "prettier"],
  "plugins": ["cypress", "prettier"],
  "ignorePatterns": ["/node_modules/*", "/assets/*"],
  "rules": {
    "prettier/prettier": "error",
    "max-len": [
      "warn",
      {
        "code": 110,
        "ignoreStrings": true,
        "ignoreTemplateLiterals": true
      }
    ],
    "vue/html-indent": ["error"],
    "vue/multi-word-component-names": ["warn"],
    "prefer-destructuring": ["warn"],
    "no-else-return": [
      "warn",
      {
        "allowElseIf": true
      }
    ],
    "no-case-declarations": "warn",
    "no-console": "warn",
    "no-debugger": "warn",
    "quotes": ["error", "single"]
  },
  "overrides": [
    // Vue specific rules
    {
      "files": ["**/src/**/*.{j,t}s?(x)"],
      "env": {
        "browser": true
      },
      "extends": ["eslint:recommended", "plugin:prettier/recommended", "plugin:vue/vue3-recommended"],
      "rules": {
        "no-undef": "warn",
        "no-prototype-builtins": "warn",
        "no-case-declarations": "warn"
      }
    },
    // Storybook specific rules
    {
      "files": ["**/(.storybook|stories)/**/*.{j,t}s?(x)"],
      "extends": ["eslint:recommended", "plugin:prettier/recommended", "plugin:storybook/recommended"],
      "rules": {
        "no-undef": "warn",
        "no-prototype-builtins": "warn"
      }
    },
    // Sails specific rules
    {
      "files": [
        "**/app.js",
        "**/api/**/*.{j,t}s?(x)"
      ],
      "env": {
        "node": true
      },
      "globals": {
        "_": true,
        "sails": true
      },
      "rules": {
        "no-undef": "warn",
        "no-prototype-builtins": "warn"
      }
    },
    // Vitest specific rules
    {
      "files": ["**/tests/unit/**/*.{j,t}s?(x)"],
      "env": {
        "node": true
      },
      "globals": {
        "vi": true
      }
    },
    // Cypress specific rules
    {
      "files": [
        "**/tests/cypress.config.js",
        "**/tests/e2e/**/*.{j,t}s?(x)"
      ],
      "env": {
        "cypress/globals": true,
        "node": true
      },
      "globals": {
        "badRequest": true,
        "cardService": true,
        "io": true,
        "ready1": true,
        "request": true,
        "socket1": true,
        "socket2": true,
        "socket3": true,
        "Promise": true
      },
      "rules": {
        "import/no-unresolved": ["off"]
      }
    }
  ]
}
