<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
    <title>Cuttle V2</title>
</head>
<body>
    <!-- Capture local variables for angular.js access (yes, this is hideous)-->
    <script type="text/javascript">
        var loggedIn = <%= loggedIn %>;
    </script>
    <div ng-app="app" class="wrappingDiv">
        <!-- Highest level controller -->
        <div id="menuController" ng-controller="menuController as menu" ng-cloak class="wrappingDiv">
            <!-- Sign Up/Login Tab Buttons -->
            <div id="buttonWrapper" class="btn-group">
                <button ng-click="menu.tab='signup'" ng-hide="menu.loggedIn" class="btn btn-default">Sign Up</button>
                <button ng-click="menu.tab='login'" ng-hide="menu.loggedIn" class="btn btn-default">Log In</button>
                <button ng-click="menu.logOut()" ng-show="menu.loggedIn" class="btn btn-default">Log Out</button>
                <button ng-click="menu.requestGames()" class="btn btn-default">Games</button>
            </div>
            <!-- Displays either signup, or login form -->
            <div id="formWrapper">
                <!-- Sign up form -->
                <div ng-controller="signUpController as signup">
                    <form ng-if="menu.tab==='signup'" name="signupForm" novalidate ng-submit="signupForm.$valid && signup.submitSignUp()" class="container-fluid">
                        <div class="row">
                            <p class="col-xs-2 col-xs-offset-5">Sign Up</p>
                        </div>
                        <div class="row">
                            <p class="col-xs-offset-2 col-xs-2">Email</p>
                            <input ng-model="signup.email" type="text" class="col-xs-4" required>
                        </div>
                        <div class="row">
                            <p class="col-xs-offset-2 col-xs-2">Password</p>
                            <input ng-model="signup.password" type="password" class="col-xs-4" required>
                        </div>
                        <div class="row">
                            <p class="col-xs-offset-2 col-xs-2">Repeat Password</p>
                            <input ng-model="signup.repeatPassword" type="password" class="col-xs-4" required>
                        </div>
                        <div class="row">
                            <input class="button button-lg col-xs-offset-5" type="submit"></input>
                        </div>
                    </form> <!-- End of signup form -->
                </div> <!-- End signup controller -->

                <div ng-controller="loginController as login">
                    <!-- Log in form -->
                    <form ng-show="menu.tab==='login'" class="container-fluid">
                        <div class="row">
                            <p class="col-xs-2 col-xs-offset-5">Log In</p>
                        </div>
                        <div class="row">
                            <p class="col-xs-2 col-xs-offset-2">Email</p>
                            <input ng-model="login.email" class="col-xs-4" type="text">
                        </div>
                        <div class="row">
                            <p class="col-xs-2 col-xs-offset-2">Password</p>
                            <input ng-model="login.password" class="col-xs-4" type="password">
                        </div>
                        <div class="row">
                            <button ng-click="login.submitLogin()" class="button button-lg col-xs-offset-5">Log In</button>
                        </div>
                    </form> <!-- End of login form -->
                </div> <!-- End login controller -->

                <div ng-controller="gamesOverviewController as gamesOverview" id="gamesOverview">
                    <div ng-show="menu.tab==='gamesOverview'" class="table table-striped">
                        <form ng-submit="gamesOverview.createGame()">
                            <h1>Game Name</h1>
                            <input ng-model="gamesOverview.gameName" type="text" placeholder="Create Game">
                            <input type="submit">
                        </form>
                        <table id="gamesTable">
                            <tr>
                                <th>#</th>
                                <th>Name</th>
                                <th>Open</th>
                                <th>Join</th>
                            </tr>
                                <tr class="newGame" ng-repeat="game in menu.games track by $index">
                                    <td>{{$index}}</td>
                                    <td id="gameName">{{game.name}}</td>
                                    <td>{{game.status}}</td>
                                    <td>
                                        <button ng-if="game.status===true" class="btn btn-default" ng-click="gamesOverview.joinGame($index)">Join</button >
                                        <button ng-if="game.status===false" class="btn btn-default" disabled="disabled">Full</button>
                                    </td>
                                </tr>
                        </table>
                    </div>
                </div>


            </div> <!-- End of formWrapper -->
            <div ng-controller="lobbyController as lobby" class="lobbyController">
                <div ng-class="{'ready': menu.playerReady}" class="readyClass">    
                <div ng-show="menu.tab==='lobby'" class="rulesDiv">
<!--                 </div>
                <div ng-show="menu.tab==='lobby'">  -->
                        <p class="readyLine">
                            Welcome to the lobby of (Game name here possibly).  When you are ready, hit the <button ng-click="lobby.ready()">Ready</button> button. To leave the game, click the <button ng-click="lobby.leave()">Leave Lobby</button>  If you wish to review any of the rules, click on the any off the buttons below.
                        </p>
                        <p ng-if="menu.playerReady" class="readySign">Congratulations on being ready!</p>
                        <!-- <h2>One Offs</h2>
                        <div ng-init="checked = false">
                            <label>
                                <input type="checkbox" ng-model="checked">
                                Ace Rules
                            </label>
                            <div class="sample-show-hide" ng-show="checked">
                                <div>
                                    <div>
                                        <img class="lobbyCard move" ng-class="{'movedLobbyCard': !cardCheck, 'lobbyCard': cardCheck}" src='/images/cards/card_0_9.png'>
                                    </div>
                                    <img class="aceLobby" src="/images/cards/ace_of_spades2.png" ng-click="cardCheck = !cardCheck" ng-model="cardCheck">
                                    Click on the ace to destroy all point cards on the field
                                    <div class="sample-show-hide" ng-show="cardCheck">
                                        <img class="lobbyCard" src='/images/cards/card_2_7.png'>
                                        <img class="lobbyCard" src='/images/cards/card_2_4.png'>
                                    </div>
                                </div>
                            </div>
                            <label>
                                <input type="checkbox" ng-model="rulesChecked">
                                All rules
                            </label>
                            <div class="rulesText" ng-show="rulesChecked">
                            </div>
                        </div>
                        <h2>Scuttling</h2> -->
                    <img src="images/Cuttle_Rules-page-001.jpg" width="60%" height="100%" class="rules1"/>
                    <img src="images/Cuttle_Rules-page-002.jpg" width="60%" height="100%" class="rules2"/>
                    <img src="images/Cuttle_Rules-page-003.jpg" width="60%" height="100%" class="rules3"/>
                    </div> <!-- End of lobby contorller -->
                </div>
            </div> <!-- End of ng-show for lobby-->

            <!-- Game View -->
            <div ng-controller="gamesController as gc" class="container-fluid gameDiv">
                <div ng-show="menu.tab==='gameView'" class="gameDiv">
                    <div id="bg">
                        <!-- TEST DRAW ACTION -->
                        <!-- Top Wrap -->
                        <div id = "topWrap" class = "row">
                            <div id="oppHand">
                                <!-- Opponent's hand CARDBACKS -->
                                <div ng-repeat="card in gc.opponent.hand" ng-if="!gc.glasses" class="opHandCard">
                                    <img src="images/finalCardback.png" class="opHandCardImg" draggable="false">
                                </div>
                                <!-- Oponent's hand REVEALED -->
                                <div ng-repeat="card in gc.opponent.hand" ng-if="gc.glasses" class="opHandCard">
                                    <img ng-src="{{card.img}}" class="opHandCardImg" draggable="false">
                                </div>
                            </div>
                            </p>
                            <div id="oppCounter">
                                <div id="oppName">{{gc.opponent.email}}</div>
                                <div id="oppKingSlot1" class="kingSlot" ng-class="{fullKing: gc.opKingCount == 1}">
                                    <p class="cap1">14</p>
                                </div>
                                <div id="oppKingSlot2" class="kingSlot" ng-class="{fullKing: gc.opKingCount == 2}">
                                    <p class="cap2">10</p>
                                </div>
                                <div>
                                    <div id="oppKingSlot0" class="pointTotal" ng-class="{fullKing: gc.opKingCount == 0}">
                                        <div>
                                            21
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div id="oppKingSlot3" class="kingSlot" ng-class="{fullKing: gc.opKingCount == 3}">
                                        <p class="cap3">7</p>
                                    </div>
                                    <div id="oppKingSlot4" class="kingSlot" ng-class="{fullKing: gc.opKingCount == 4}">
                                        <p class="cap4">5</p>
                                    </div>
                                </div>
                                <p id="oppPointTotal">Opponent Point Total: {{gc.opPointCount}}</p>
                            </div>
                        </div> <!-- End of topWrap -->
                        <!-- Middle Wrap -->
                        <div id="midWrap" class="row">
                            <div class="col-xs-2 col-md-2" id="deckScrap">
                                <!-- Deck and Scrap -->
                                <div id="deck-wrapper">
                                    <img src="images/deck.jpg" id="deck" ng-click="gc.draw()" ng-show="gc.cardsInDeck > 0" draggable="false"></img>
                                    <p id="deck-count">{{gc.cardsInDeck}} Cards</p>
                                </div>
                                <img src="images/pass.jpg" id="deck" ng-click="gc.pass()" ng-show="gc.cardsInDeck === 0" draggable="false">
                                <div id="scrap-wrapper">
                                    <img src="images/scrap.jpg" id="scrap" ts-droppable allow-drop="gc.dragoverScrap" index="0" upon-drop="gc.dropScrap" draggable="false"></img>
                                    <p id="scrap-count">{{gc.game.scrap.length}} Cards</p>
                                </div>
                                <p class="yourTurn" ng-if="gc.yourTurn">
                                    Your Turn
                                </p>
                                <p class="oppTurn" ng-if="!gc.yourTurn">
                                    Opponent's Turn
                                </p>
                            </div>
                            <div class="col-xs-4 col-md-4 field row" id='points'>
                                <div id="oppPoints">
                                    <div ng-repeat="card in gc.opponent.points" class="pointCard">
                                        <img ng-src="{{card.img}}" class="pointCardImg" ts-droppable allow-drop="gc.dragoverOpPoint" upon-drop="gc.dropOpPoint" index="$index" draggable="false">
                                        <div ng-repeat="jack in card.attachments" class="jackCard">
                                            <img ng-src="{{jack.img}}" id="oppJackCardImg" draggable="false" ts-droppable allow-drop="gc.dragoverOpJack" upon-drop="gc.dropOpJack" index="gc.opponent.points.indexOf(card)">
                                        </div>
                                    </div>
                                </div>

                                <div id="yourPoints" ts-droppable allow-drop="gc.dragoverPoints" index="0" upon-drop="gc.dropPoints">
                                    <div ng-repeat="card in gc.player.points" class="pointCard">
                                        <img ng-src="{{card.img}}" class="pointCardImg" draggable="false">
                                        <div ng-repeat="jack in card.attachments" class="jackCard">
                                            <img ng-src="{{jack.img}}" id="jackCardImg">
                                        </div>
                                    </div>
<!--                                     <div ng-repeat="jack in gc.player.points.attachments" class="jackCard">
                                        <img ng-src="{{jack.img}}" class="jackCardImg">
                                    </div> -->

                                </div>
                            </div>
                            <div class="col-xs-4 col-md-4 field row" id="runes">
                                <!-- Runes -->
                                <div id="oppRunes">
                                    <!-- Opponent Runes -->
                                    <div ng-repeat="card in gc.opponent.runes" class="runeCard">
                                        <img ng-src="{{card.runeImg}}" class="runeCardImg" ts-droppable allow-drop="gc.dragoverOpRune" upon-drop="gc.dropOpRune" index="$index" draggable="false">
                                    </div>
                                </div>
                                <div id="yourRunes" ts-droppable allow-drop="gc.dragoverRunes" index="0" upon-drop="gc.dropRunes">
                                    <div ng-repeat="card in gc.player.runes" class="runeCard">
                                        <img ng-src="{{card.runeImg}}" class="runeCardImg" draggable="false">
                                    </div>
                                    <!-- Your Runes -->
                                </div>
                            </div>
                            <div class="col-xs-2 col-md-2" id="gameLog">
                                <div ng-repeat="text in gc.game.log track by $index" ng-hide="gc.resolvingThree || gc.resolvingSeven || gc.opResolvingSeven || gc.opResolvingThree">
                                    {{text}}
                                </div>


                                <img ng-if="gc.resolvingSeven && gc.game.topCard" ng-src="{{gc.game.topCard.img}}" ts-draggable class="sevenCard"  card-id="gc.game.topCard.id" index="0" type="'deck'" suit="gc.game.topCard.suit" rank="gc.game.topCard.rank">
                                <img ng-if="gc.resolvingSeven && gc.game.secondCard" ng-src="{{gc.game.secondCard.img}}" ts-draggable class="sevenCard" card-id="gc.game.secondCard.id" index="1" type="'deck'" suit="gc.game.secondCard.suit" rank="gc.game.secondCard.rank">
                                <img ng-if="gc.opResolvingSeven && gc.game.topCard" ng-src="{{gc.game.topCard.img}}" draggable="false" class="sevenCard">
                                <img ng-if="gc.opResolvingSeven && gc.game.secondCard" ng-src="{{gc.game.secondCard.img}}" draggable="false" class="sevenCard">


                                <!-- Internet went out, check for the length of a collection -->
                                <div ng-repeat="card in gc.game.scrap track by $index" ng-if="gc.game.scrap.length > 30" ng-show="gc.resolvingThree" class="scrapCard">
                                    <img ng-src="{{card.img}}" ng-click="gc.chooseScrapCard($index)" class="scrapCardImg" draggable="false">
                                </div>
                                <div ng-repeat="card in gc.game.scrap track by $index" ng-if="gc.game.scrap.length < 30" ng-show="gc.resolvingThree" class="scrapCard">
                                    <img ng-src="{{card.img}}" ng-click="gc.chooseScrapCard($index)" class="scrapCardImg1" draggable="false">
                                </div>
                                <!-- gameLog -->
                            </div>
                        </div> <!-- End of middle wrap -->
                        <!-- Bottom Wrap -->
                        <div id="bottomWrap" class="row">
                            <div id="yourHand">
                                <!-- Your Hand -->
                                <div ng-repeat="card in gc.player.hand" class="handCard">
                                    <img ng-src="{{card.img}}" ts-draggable index="$index" class="handCardImg" card-id="card.id" type="'hand'" suit="card.suit" rank="card.rank" ng-click="gc.clickHandCard($index)" ng-class="{discarding: gc.cardsToDiscard.indexOf(gc.player.hand[$index]) > -1}">
                                </div>
                            </div>
                            <div id="yourCounter">
                                <div id="oppName">{{gc.player.email}}</div>
                                <p id="yourPointTotal">Your Point Total: {{gc.yourPointCount}}</p>
                                <div id="yourKingSlot1" class="kingSlot" ng-class="{fullKing: gc.yourKingCount == 1}">
                                    <p class="cap1">14</p>
                                </div>
                                <div id="yourKingSlot2" class="kingSlot" ng-class="{fullKing: gc.yourKingCount == 2}">
                                    <p class="cap2">10</p>
                                </div>
                                <div>
                                    <div id="yourKingSlot0" class="kingSlot" ng-class="{fullKing: gc.yourKingCount == 0}">
                                        <div>
                                            <p>21</p>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div id="yourKingSlot3" class="kingSlot" ng-class="{fullKing: gc.yourKingCount == 3}">
                                        <p class="cap3">7</p>
                                    </div>
                                    <div id="yourKingSlot4" class="kingSlot" ng-class="{fullKing: gc.yourKingCount == 4}">
                                        <p class="cap4">5</p>
                                    </div>
                                </div>
                                <!-- Your king squares -->
                            </div>
                            <button type="button" class="btn btn-primary btn-lg btn-secondary" id="concedeButton" ng-click="gc.concede()">Concede</button>
                            <!-- DEVELOPMENT ONLY - REMOVE IN PRODUCTION -->
                            <!-- <button ng-click="gc.showDeck = !gc.showDeck" id="toggleDeck">Toggle Deck</button> -->
                            <!-- <button ng-click="gc.deleteDeck()" id="deleteDeck">Delete Deck</button> -->
                            <div ng-show="gc.showDeck" id="shownDeck">
                                <img ng-repeat="card in gc.game.deck" ng-src="{{card.img}}" class="shownDeckCard" ng-click="gc.stackDeck(gc.game.deck[$index].id)">
                            </div>
                        </div> <!-- End of bottom wrap -->
                    </div>
                </div> <!-- End of ng-show for game -->
            </div> <!-- End of game controller -->

        </div> <!-- End of menuController -->
    </div><!-- End of app -->
</div><!-- End of body -->
</html>
