/*Lobby CSS*/

.content-area {
  border: 1px solid black;
  margin-top: 10px;
  padding: 10px;
}

.sample-show-hide {
  transition: all linear 0.5s;
}
.sample-show-hide.ng-hide {
  opacity: 0;
}

.lobbyCard {
  height: 30%;
  width: 21%;
}

#lobbyScarp{
  height: 30%;
  width: 21%;
}

.sevenTest-hide {
  transition: all linear 0.1s;
}

.sample-show-hide.ng-hide {
  opacity: 0;
}

/*End of Lobby CSS*/

/*Gameview CSS*/

#bg {
  background: url(../images/woodenTableImage.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100%;
  min-width: 100%;
  position: absolute;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
}

.gameDiv {
  border: 2px black dotted;
  min-height: 100%;
  min-width: 100%;
  position: absolute;
}

.wrappingDiv {
  border: 2px black dotted;
  position: absolute;
  min-height: 100%;
  min-width: 100%;
}