.fading-test {
	 transition: background 0.5s linear;
    -moz-transition: background 0.5s linear; /* Firefox 4 */
    -webkit-transition: background 0.5s linear; /* Safari and Chrome */
    -o-transition: background 0.5s linear; /* Opera */
    -ms-transition: background 0.5s linear; /* Explorer 10 */
	padding-left: 10px;
}

.fading-test.ng-hide {
	opacity: 0;
}

.content-area {
  border: 1px solid black;
  margin-top: 10px;
  padding: 10px;
}

.sample-show-hide {
  transition: all linear 0.5s;
}
.sample-show-hide.ng-hide {
  opacity: 0;
}