 # id, . class*/
body {
  font-family: 'Roboto Slab', serif;
}
/*Navbar CS*/
#signupButton {
  z-index: 2;
}

/*Lobby CSS*/

.content-area {
  margin-top: 10px;
  padding: 10px;
}
.readyLine{
  position: relative;
  z-index: 5;
  text-align: center;
}
    #lobbyButtons {
      display: block;
      text-align: center;
    }
.readySign {
  position: relative;
  color: red;
  text-align: center;
  top: 4%;
  /*left: 37%;*/
  font-size: 30px;
}


.opReadySign {
  position: relative;
  color: blue;
  text-align: center;
  top: 4%;
  /*left: 37%;*/
  font-size: 30px;
}

.sample-show-hide {
  transition: all linear 0.5s;
}
.sample-show-hide.ng-hide {
  opacity: 0;
}

.sampleAnimation.ng-leave {
  animation: boardWipe 1s linear;
  -webkit-animation: boardWipe 1s linear;
}

.newGame{
  -webkit-transition: 1s linear;
  -moz-transition: 1s linear;
  -ms-transition: 1s linear;
  -o-transition: 1s linear;
  transition: 1s linear;
}

.newGame.ng-enter {
  opacity: 0;
}

.newGame.ng-enter.ng-enter-active {
  opacity: 1;
}

.move {
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.lobbyController {
  position: absolute;
  min-height: 100%;
  min-width: 100%;
}

.lobbyCard {
  position: relative;
  width: 6%;
  opacity: 100%;
}

.movedLobbyCard {
  position: relative;
  width: 10%;
  left: 50%;
  opacity: 0%;
}

.readyClass {
  position: absolute;
  min-height: 100%;
  min-width: 100%;
}

.ready {
  color: green;
}


.aceLobby {
  width: 8%;
}

.sevenTest-hide {
  transition: all linear 0.1s;
}

.sample-show-hide.ng-hide {
  opacity: 0;
}


.rulesDiv {
  position: absolute;
  min-height: 100%;
  min-width: 100%;
  padding-top: 2%;
}

.rules1 {
    position: relative;
    padding-left: 25%;
    z-index: 2;
    padding-top: 12%;
}

.rules2 {
    position: relative;
    padding-left: 25%;
}

.rules3 {
    position: relative;
    padding-top: .7%;
    padding-left: 25.9%;
}

/*End of Lobby CSS*/

/*Gameview CSS*/

#bg {
  background: url(../images/woodenTableImage.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100%;
  min-width: 100%;
  position: absolute;
}

#gamesTable{
  border-collapse: separate;
  border-spacing: 10px;
}

  #gameName {
    font-weight: bold;
  }

th,td {
  vertical-align: top;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
}

.gameDiv {
  min-height: 100%;
  min-width: 100%;
  position: absolute;
}

.wrappingDiv {
  position: absolute;
  min-height: 100%;
  min-width: 100%;
}
    .legalMove {
      border: 8px solid #26d3ff !important;
    }
    .legalMoveScrap {
      /*border: 10px solid rgb(66, 134, 244);*/
      border: 10px solid #26d3ff;
    }
    #buttonWrapper {
      margin-top: .5%;
      margin-left: .5%;
    }

    #gamesOverview {
      margin-left: .5%;
    }
      /**********/
      /*Top Wrap*/
      /**********/

      #topWrap {
        min-height: 20%;
        min-width: 100%;
        position: absolute;
      }

          /*Opponent CSS*/

          #oppCounter {
            display: inline-block;
            position: absolute;
            left: 4%;
            font-size: 2em;
            color: #BAA1C9;
            min-width: 8%;
            min-height: 100%;
          }


          /*TEMPORARY FOR OPPONENT'S HAND*/
          #oppHand {
            position: absolute;
            display: block;
            top: 3%;
            left: 30%;
            height: 90%;
            width: 80%;
          }
            .opHandCard {
              display: inline-block;
              position: relative;
              margin-left: 1%;
              width: 7%;
              height: 100%;
              -webkit-transition: 1s linear;
              -moz-transition: 1s linear;
              -ms-transition: 1s linear;
              -o-transition: 1s linear;
              transition: 1s linear;
            }
            .opHandCard.ng-leave {
              opacity: 1;
            }
            .opHandCard.ng-leave.ng-leave-active {
              opacity: 0;
            }
            .opHandCard.ng-enter {
              opacity: 0;
            }
            .opHandCard.ng-enter.ng-enter-active {
              opacity: 1;
            }

            .opHandCardImg {
              display: inline-block;
              position: relative;
              z-index: 3;
              height: 100%;
              width: 100%;
              margin-top: 2.5%;
            }
          /*END TEMP CSS FOR OPPONENT'S HAND*/


          #oppPointTotal {
            position: absolute;
            width: 200%;
            left: -7%;
            top: 135%;
            font-size: 18px;
          }

          .fullKing {
          background-color: white;
          }

          #oppKingSlot1 {
            display: inline-block;
            position: absolute;
            height: 60%;
            width: 60%;
            border: 2px solid black;
            text-align: center;
            line-height: 50%;
          }

            .cap1 {
              text-align: center;
              margin-top: 50%;
            }

          #oppKingSlot2 {
            display: inline-block;
            position: absolute;
            height: 60%;
            width: 60%;
            border: 2px solid black;
            left: 60%;
            text-align: center;
            line-height: 50%;
          }

            .cap2 {
              text-align: center;
              margin-top: 50%;
            }

              #oppKingSlot0 {
                display: inline-block;
                position: absolute;
                height: 40%;
                width: 45%;
                border: 2px solid black;
                z-index: 4;
                left: 37.5%;
                top: 37.5%;
                padding-top: 11%;
                text-align: center;
              }

          #oppKingSlot3 {
            display: inline-block;
            position: absolute;
            height: 60%;
            width: 60%;
            border: 2px solid black;
            top: 60%;
            text-align: center;
            line-height: 50%;
          }

            .cap3 {
              text-align: center;
              margin-top: 50%;
            }

          #oppKingSlot4 {
            display: inline-block;
            position: absolute;
            height: 60%;
            width: 60%;
            border: 2px solid black;
            top: 60%;
            left: 60%;
            text-align: center;
            line-height: 50%;
          }

            .cap4 {
              text-align: center;
              margin-top: 50%;
            }

    /*Mid Wrap*/

      #midWrap {
        top: 20%;
        height: 50%;
        min-width: 100%;
        position: absolute;
      }
          /*Deck, Scrap and Turn*/

          .yourTurn {
            text-align: center;
            padding-top: 91%;
            padding-right: 9%;
            font-size: 28px;
            color: #46FF00;
            text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
          }

          .oppTurn {
            text-align: center;
            padding-top: 91%;
            padding-right: 9%;
            font-size: 28px;
            color: #FF2D00;
            text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
          }

          #deckScrap {
            position: absolute;
            min-height: 100%;
            min-width: 20%;
            top: 10%;
          }

          /*Modals*/
          .modal-dialog {
            height: 100%;
            bottom: 8%;
          }
              .modal-content {
                z-index: 5;
                height: 100%;
              }
                  .modal-body {
                    height: 50%;
                  }
                    #counterOneOff {
                      position: absolute;
                      display: block;
                      left: 41%;
                      height: 85%;
                      left: 62%;
                      top: 2%;
                    }
/*              #deck-wrapper {
                position: absolute;

              }*/

                #deck {
                  position: absolute;
                  left: 50%;
                  top: 20%;
                  z-index: 3;
                  height: 42%;

                }
                  .cardDropHighlight {
                    position: absolute;
                    height: 100%;
                    width: 100%;

                  }
                  #deck-count {
                    position: absolute;
                    left: 61%;
                    top: 55%;
                    z-index: 4;
                  }

              #scrap-wrapper {
                background-color: #26d3ff;
                position: absolute;
                height: 42%;
                left: 7%;
                top: 20%;
                z-index: 3;
              }

              #scrap {
/*                position: absolute;
                left: 7%;
                top: 20%;
                z-index: 3;*/
                height: 100%;
              }
/*                .dragover {
                  background-color: green;
                }*/

                #scrap-count {
                  position: absolute;
                  top: 84%;
                  z-index: 4;
                  left: 27%;
                }

          /*Points*/

          #points {
            position: absolute;
            min-width: 30%;
            min-height: 100%;
            left: 19%;
          }

              .dragover {
                background-color: #26d3ff;
                opacity: .5;
              }

                    #oppPoints {
                      display: inline-block;
                      position: absolute;
                      height: 50%;
                      width: 90%;
                      border: 2px solid red;
                      z-index: 2;
                    }

                    #yourPoints {
                      display: inline-block;
                      position: absolute;
                      top: 55%;
                      height: 50%;
                      width: 90%;
                      border: 2px solid blue;
                      z-index: 2;
                    }

                      .pointCard {
                        display: inline-block;
                        position: relative;
                        height: 100%;
                        width: 25%;
                        background-color: #26d3ff;
                        -webkit-transition: 1s linear;
                        -moz-transition: 1s linear;
                        -ms-transition: 1s linear;
                        -o-transition: 1s linear;
                        transition: 1s linear;
                      }
                      .pointCard.ng-leave {
                        opacity: 1;
                      }
                      .pointCard.ng-leave.ng-leave-active {
                        opacity: 0;
                      }
                      .pointCard.ng-enter {
                        opacity: 0;
                      }
                      .pointCard.ng-enter.ng-enter-active {
                        opacity: 1;
                      }

                      .pointCardImg {
                        display: inline-block;
                        position: relative;
                        z-index: 3;
                        height: 100%;
                        width: 100%;
                      }

                    .jackCard {
                      position: relative;
                      height: 50%;
                      width: 53%;
                      bottom: 100%;
                      left: 46%;
                      margin-bottom: -59%;
                      z-index: 4;
                      background-color: #26d3ff;

                    }
                      #oppJackCardImg {
                        display: block;
                        position: relative;
                        height: 100%;
                        /*width: 50%;*/
                        /*left: 50%;*/
                        /*bottom: 5%;*/
                        z-index: 4;
                      }
                      #jackCardImg {
                        display: block;
                        position: relative;
                        height: 100%;
                        /*width: 50%;*/
                        /*left: 50%;*/
                        /*bottom: 5%;*/
                        z-index: 4;
                      }

          #runes {
            position: absolute;
            min-width: 30%;
            min-height: 100%;
            left: 50%;;
          }
/*              .dragover {
                background-color: #26d3ff;
              }*/
                  #oppRunes {
                      display: inline-block;
                      position: absolute;
                      height: 50%;
                      width: 90%;
                      border: 2px solid red;
                      z-index: 2;
                  }
                      .areaLabel {
                        display: inline-block;
                        position: absolute;
                        left: 40%;
                        top: 40%;
                        font-size: 200%;
                      }
                  #yourRunes {
                      display: inline-block;
                      position: absolute;
                      top: 55%;
                      height: 50%;
                      width: 90%;
                      border: 2px solid blue;
                      z-index: 2;
                  }

                      .runeCard {
                        display: inline-block;
                        position: relative;
                        height: 100%;
                        width: 25%;
                        background-color: #26d3ff;
                        -webkit-transition: 1s linear;
                        -moz-transition: 1s linear;
                        -ms-transition: 1s linear;
                        -o-transition: 1s linear;
                        transition: 1s linear;
                      }
                      .runeCard.ng-leave {
                        opacity: 1;
                      }
                      .runeCard.ng-leave.ng-leave-active {
                        opacity: 0;
                      }
                      .runeCard.ng-enter {
                        opacity: 0;
                      }
                      .runeCard.ng-enter.ng-enter-active {
                        opacity: 1;
                      }
                      .runeCardImg {
                        display: inline-block;
                        position: relative;
                        z-index: 3;
                        height: 100%;
                        width: 100%;
                      }
          #gameLog {
            display: inline-block;
            position: absolute;
            border: 2px solid black;
            height: 115%;
            width: 17.5%;
            left: 81.5%;
            /*overflow-y: scroll; */
            color: chartreuse;
          }
              #logText {
                display: block;
                position: relative;
                overflow: auto;
                top: 0%;
                left: 0%;
                height: 80%;
              }
                  .logEntry {
                    position: relative;
                    margin-top: 7%;
                  }

              #logNav {
                display: block;
                position: relative;
                height: 15%;
                top: 4%;
              }
                  #logButtons {
                    display: block;
                    position: absolute;
                    right: 5%;
                    top: -11%;
                    z-index: 5;
                  }
                  .activeTab {
                    background-color: #DDD5CB !important;
                    border: 1.5px solid black !important;
                  }
                  #chatForm {
                    display: block;
                    position: relative;
                    z-index: 5;
                    top: 20%;
                  }
                  #chatBox {
                    display: inline-block;
                    position: relative;
                    width: 60%;
                    color: black;
                  }
              #threeCardWrapper {
                position: absolute;
                top: 0%;
                height: 100%;
                z-index: 6;
              }
              /*These cards are only displayed while a three is being resolved*/
              .scrapCard {
                position: relative;
                display: inline;
                height: 15%;
                -webkit-transition: 1s linear;
                -moz-transition: 1s linear;
                -ms-transition: 1s linear;
                -o-transition: 1s linear;
              }
/*              .scrapCard.ng-hide-remove {
                opacity: 1;
              }
              .scrapCard.ng-hide-remove.ng-hide-remove-active {
                opacity: 0;
              }*/
              .scrapCard.ng-hide-add {
                opacity: 0;
              }
              .scrapCard.ng-hide-add.ng-hide-add-active {
                opacity: 1;
              }
                  .scrapCardImg {
                    width: 17%;
                    margin-top: 1%;
                  }

                  .scrapCardImg1 {
                    width: 30%;
                    margin-top: 1%;
                  }
              /*These cards only display while resolving a seven*/
              #sevenCardWrapper {
                position: absolute;
                top: 0%;
                height: 100%;
                z-index: 6;
              }
                  .sevenCard {
                    position: relative;
                    height: 35%;
                    display: inline-block;
                    top: 32%;
                    z-index: 4;
                    -webkit-transition: 1s linear;
                    -moz-transition: 1s linear;
                    -ms-transition: 1s linear;
                    -o-transition: 1s linear;          
                  }
                  .sevenCard.ng-leave {
                    opacity: 1;
                  }
                  .sevenCard.ng-leave.ng-leave-active {
                    opacity: 0;
                  }
                  .sevenCard.ng-enter {
                    opacity: 0;
                  }
                  .sevenCard.ng-enter.ng-enter-active {
                    opacity: 1;
                  }


    /*Bottom Wrap*/

    #bottomWrap {
      top: 70%;
      min-height: 30%;
      min-width: 100%;
      position: absolute;
    }

        #yourHand {
          position: absolute;
          display: block;
          top: 25%;
          min-height: 30%;
          min-width: 80%;
          text-align: center;
        }

            .handCard {
              display: inline-block;
              position: relative;
              height: 20%;
              margin-left: 1%;
              width: 6%;
              -webkit-transition: 1s linear;
              -moz-transition: 1s linear;
              -ms-transition: 1s linear;
              -o-transition: 1s linear;
              transition: 1s linear;
            }
            .handCard.ng-leave {
              opacity: 1;
            }
            .handCard.ng-leave.ng-leave-active {
              opacity: 0;
            }
            .handCard.ng-enter {
              opacity: 0;
            }
            .handCard.ng-enter.ng-enter-active {
              opacity: 1;
            }
            .handCardImg {
              display: inline-block;
              position: relative;
              z-index: 3;
              height: 100%;
              width: 100%;
            }

            .discarding {
              border: 2px solid red;
            }

          #yourCounter {
            display: inline-block;
            position: absolute;
            left: 4%;
            top: 3%;
            bottom: 20%;
            font-size: 2em;
            color: #BAA1C9;
            min-width: 10.5%;
            min-height: 85%;
          }

              #yourKingSlot1 {
                display: inline-block;
                position: absolute;
                min-height: 50%;
                min-width: 50%;
                border: 2px solid black;
                text-align: center;
                line-height: 50%;
              }

              #yourKingSlot2 {
                display: inline-block;
                position: absolute;
                height: 50%;
                width: 50%;
                border: 2px solid black;
                left: 50%;
                text-align: center;
                line-height: 50%;
              }

                  #yourKingSlot0 {
                    display: inline-block;
                    position: absolute;
                    border: 2px solid black;
                    height: 30%;
                    width: 35%;
                    left: 32.5%;
                    top: 35%;
                    z-index: 4;
                    text-align: center;
                    padding-top: 6%;
                  }

              #yourKingSlot3 {
                display: inline-block;
                position: absolute;
                height: 50%;
                width: 50%;
                border: 2px solid black;
                top: 50%;
                text-align: center;
                line-height: 50%;
              }

              #yourKingSlot4 {
                display: inline-block;
                position: absolute;
                height: 50%;
                width: 50%;
                border: 2px solid black;
                top: 50%;
                left: 50%;
                text-align: center;
                line-height: 50%;
              }
          #yourPointTotal {
            position: absolute;
            bottom: 100%;
            width: 135%;
            left: 0%;
            font-size: 18px;
          }

          #concedeButton {
            position: absolute;
            left: 85%;
            top: 36%;
          }


    /*Shown deck for development testing*/
    #toggleDeck {
      position: relative;
      top: 750px;
      left: 25px;
    }
    #deleteDeck {
      position: relative;
      top: 750px;
      left: 25px;
    }
    #shownDeck {
      position: relative;
      display: block;
      top: 800px;
    }

        .shownDeckCard {
          position: relative;
          display: inline-block;
          height: 70px;
          margin-left: 2px;
        }


/*/////////////
//Animations//
////////////*/



/*
@keyframes boardWipe{
  100% {right:264%, bottom:42%, height:88%;  }

}

"class on ng-show" {
  animation: boardWipe 3s ease-out;
}
