name: Deploy Storybook to Pages

on:
  push:
    # We should only push on known files that could adjust storybook
    # If there is an outlier, the workflow_dispatch key will let us deploy manually
    # https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions#example-including-paths
    paths:
      - '.github/workflows/deploy-storybook.yml'
      - '.storybook/**'
      - 'client/**'
      - 'stories/**'
    branches: [$default-branch]
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
# See: https://docs.github.com/en/actions/using-jobs/assigning-permissions-to-jobs
permissions:
  contents: read
  pages: write
  id-token: write

# Allow one concurrent deployment
# See: https://docs.github.com/en/actions/learn-github-actions/workflow-syntax-for-github-actions#jobsjob_idconcurrency
concurrency:
  group: 'pages'
  cancel-in-progress: true

# Based on https://github.com/actions/starter-workflows/blob/main/pages/static.yml
jobs:
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: '16.17.0'
          cache: 'npm'
      - name: install node modules
        run: npm ci
      - name: Build Storybook
        run: npm run build-storybook
      - name: Setup Pages
        uses: actions/configure-pages@v2
      # https://github.com/actions/upload-artifact
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v1
        with:
          # Upload storybook build folder contents
          path: './storybook-static'
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v1
